/* Write your code here: */
h1, h2 { /*Grupo de seletores*/
    color: blueviolet;
}

div > p { /* um level acima (parent > child)*/
    color: firebrick;
}

.box li { /*Não importa o level, desde de que seja parent*/
    color: blue;
}

li.done { /* Selecting a especific element */
    color: seagreen;
}

ul p.done { /* Make more especific */
    font-size: 0.5rem;
}