* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: black;
    color: #fff;
}

.game {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.dices {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 100px;
    text-align: center;
    font-size: 2rem;
}

footer {
    margin-top: -20px;
    text-align: center;
}