* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;

}
/* Header */
header {
    height: 15vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    align-items: center;
    gap: 40%;
    background-color: black;
}
.logo {
    border-radius: 50%;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list > a {
    list-style: none;
    display: inline-block;
    text-decoration: none;
    margin-left: 20px;
}

.btn-navbar {
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
    color: white;
 }

.btn-navbar:hover {
    color: black;
    background-color: white;
    transition: .3s;
 }

 /* Section 1 */
.presentation {
    height: 85vh;
}
#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.container-presentation {
    height: 85vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2%;
    color: white;
}

#text-presentation > h1 {
    font-size: 62pt;
}

.img-presentation > img{
    border-radius: 50%;
}

/* appear animation */
@keyframes appear {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  /* Apply animation to the element */
  .appear {
    opacity: 0;
    animation-name: appear;
    animation-duration: 3s;
    animation-delay: 3.2s; /* Delay appearance for 3 seconds */
    animation-fill-mode: forwards;
}

/* Letter animation */
#text-presentation {
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    color: white;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: white;
    }
  }
  
  #text-presentation h1 {
    overflow: hidden;
    border-right: 0.15em solid white;
    white-space: nowrap;
    margin: 0;
    animation: typing 3s steps(40, end), blink-caret 0.75s step-end infinite;
  }

#presentVideo {
  height: 250px;
  z-index: 0;
  /* box-shadow: 10px 10px 100px 20px inset #000; */
  border: 100px solid inset #fff;

  }


 /* COLORS 

000000
14213D
FCA311
E5E5E5
FFFFFF

*/