    <footer>
        <p>Desenvolvido por <a href="http://instagram.com/ithiagosilva" target="_blank" rel="noopener noreferrer">Thiago Silva</a></p>
        <p>&copy; <%= new Date().getFullYear() %> </p>
    </footer>
</main>
<script src="./js/script.js"></script>
</body>
</html>